@import '../Variables.scss';
.Details {
    font-family: 'Playfair Display', serif;
    height: 50vh;
    background-color: $white;
    .detailsDiv {
        margin: 6rem;
        .price {
            span {
                font-size: 4rem;
            }
            font-size: 2.5rem;
            font-family: 'Alata', serif;
        }
        .otherDetails {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .givenDetails {
                margin: 3rem;
                p {
                    margin: 0.5rem;
                }
                .address {
                    font-size: 2rem;
                }
                .state-pin {
                    font-size: 1.5rem;
                }
            }
            .description {
                font-family: 'Alata';
                margin: 3rem;
                font-size: 1.25rem;
            }
        }
    }
    
}