@import '../Variables.scss';
.nav {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $yellow;
  z-index: 6;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  .close {
    position: absolute;
    right: 2%;
    top: 2%;
    &:hover {
      cursor: pointer;
    }
  }
  .navDiv {
    height: 80%;
    margin: 0 6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .pages {
      display: grid;
      grid-template-rows: 1fr 6fr;
      h3 {
        display:flex;
        align-items: center;
      }
      ul {
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-rows: repeat(4, 1fr);
        li {
          display: flex;
          align-items: center;
          font-size: 1.75rem;
          font-weight: 700;
        }
      }
    }
    .contact {
      display: grid;
      grid-template-rows: 1fr 6fr;
      h3 {
        display:flex;
        align-items: center;
      }
      .contactDetails {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 1fr;
        div {
          h4 {
            font-size: 1.25rem;
            p {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}