html {
  @media(min-width: 1100px) {
    scroll-snap-type: block proximity;
    scroll-snap-points-y: repeat(100vh);
  }
  scroll-behavior: smooth;

}
body {
  margin: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.hide {
  display: none;
}
.wideHide {
  display: none;
  @media(max-width: 1100px) {
    display:block;
  }
}